        * {
            margin: 0;
            padding: 0;
        }
        
        // 大盒子
        .contents {
            width: 1200px;
            height: 781.16px;
            margin: 0 auto;
            padding: 40px 50px 12px 40px;
            //左边的图片
            .left {
                display: flex;
                width: 483px;
                height: 402px;
                float: left;
                overflow: visible;
                .sf {
                    width: 400px;
                    height: 400px;
                    flex-shrink: 0;
                    position: relative;
                    img {
                        position: absolute;
                    }
                    .a {
                        width: 200px;
                        height: 200px;
                        visibility: hidden;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background: #323232;
                        opacity: 0.2;
                    }
                }
                .bf {
                    width: 400px;
                    height: 400px;
                    position: relative;
                    overflow: hidden;
                    flex-shrink: 0;
                    img {
                        width: 400px;
                        height: 400px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        overflow: hidden;
                        visibility: hidden;
                    }
                    .picture_dada {
                        position: absolute;
                        width: 500px;
                        height: 500px;
                    }
                }
                .picture_xiao {
                    width: 80px;
                    height: 400px;
                    float: left;
                    border: 1px solid #ccc;
                    // background: palegreen;
                    li {
                        width: 80px;
                        height: 80px;
                        // float: left;
                        list-style: none;
                        img {
                            width: 100%;
                            height: 80px;
                        }
                    }
                }
                .picture_da {
                    width: 400px;
                    height: 400px;
                    float: left;
                    border: 1px solid #ccc;
                    border-left: none;
                    ;
                    position: relative;
                    .magnifying_glass {
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .faj_img {
                        width: 400px;
                        height: 400px;
                        background: #000;
                        display: none;
                    }
                }
            }
            //右边的标题之类的
            .right {
                width: 597px;
                height: 705.16px;
                float: right;
                .h {
                    width: 577px;
                    height: 40px;
                    font: normal 16px/24px "microsoft yahei";
                    border-bottom: 1px dotted #323232;
                    padding: 0 0 20px 20px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 16px;
                }
                //上半部分
                .price_message {
                    width: 577px;
                    height: 129.8px;
                    padding: 15px 0 10px 20px;
                    border-bottom: 1px dotted #323232;
                    .price1 {
                        width: 577px;
                        height: 35.2px;
                        p {
                            width: 577px;
                            height: 35.2px;
                            color: #e93b39;
                            font-size: 26px;
                            letter-spacing: 10px;
                        }
                    }
                    //价格
                    .supply {
                        line-height: 40px;
                        font-size: 12px;
                        color: #ccc;
                        span {
                            width: 60.84px;
                            display: inline-block;
                        }
                        i {
                            color: #e93b39;
                            font-style: normal;
                        }
                    }
                }
                //下半部分
                .shopping_trolley {
                    width: 573px;
                    height: 332.96px;
                    padding: 24px 0 0 24px;
                    //颜色
                    .color {
                        height: 40px;
                        line-height: 40px;
                        font-size: 12px;
                        font-family: simsun;
                        span {
                            width: 60.84px;
                            text-align: center;
                            display: inline-block;
                        }
                        img {
                            width: 35px;
                            height: 35px;
                        }
                    }
                    //购买数量
                    .clearfix {
                        width: 577px;
                        height: 24px;
                        font-size: 12px;
                        font-family: simsun;
                        margin-top: 30px;
                        span {
                            width: 60.84px;
                            height: 24.8px;
                            line-height: 24.8px;
                            text-align: center;
                            display: inline-block;
                            font-family: simsun;
                            margin-bottom: 30px;
                        }
                        #num {
                            width: 510.16px;
                            float: right;
                            margin-bottom: 30px;
                            a {
                                width: 21px;
                                height: 22px;
                                display: inline-block;
                                text-decoration: none;
                            }
                            input {
                                width: 34px;
                                height: 18px;
                                border: 1px solid #ccc;
                                display: inline-block;
                                text-align: center;
                            }
                        }
                    }
                    //立即抢购
                    .purchase {
                        width: 577px;
                        height: 54px;
                        float: right;
                        .purchase_1 {
                            width: 160px;
                            height: 54px;
                            display: inline-block;
                            line-height: 54px;
                            text-align: center;
                            background: #e93b39;
                            font-size: 14px;
                            color: #fff;
                            border: 2px solid #e93b39;
                        }
                        .purchase_2 {
                            display: inline-block;
                            width: 160px;
                            height: 54px;
                            line-height: 54px;
                            text-align: center;
                            border: 2px solid #e93b39;
                            color: #e93b39;
                            background: #fff;
                        }
                    }
                }
            }
        }