$window:100%; //宽度100%
$f:#fff; //变量白色
$fontsize:14px; //字体14px
$l:left; //左浮动
$r:right; //右浮动
$black:#000; //黑色变量
$wid:1200px; //1200px的宽度
$n:none; //去掉li标签的
$normal:normal; //去掉h标签的morning加粗
//左浮动函数
@mixin float($l) {
    float: $l;
}

// 右浮动函数
@mixin folat($r) {
    float: $r;
}

//去掉a标签的下划线
@mixin text-decoration($value) {
    text-decoration: $value;
}

//黑色
@mixin color($black) {
    color: $black;
}

//1200px的宽度居中
@mixin width($wid) {
    width: $wid;
}

//去掉li标签的默认小黑点
@mixin list-style($n) {
    list-style: $n;
}

//h标签的默认加粗去掉
@mixin font-weight($normal) {
    font-weight: $normal;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.heard {
    width: $window;
    height: 130px;
    display: flex;
    justify-content: space-between;
    //头部上面的logo
    .logo {
        @include width($wid);
        height: 130px;
        margin: 0 auto;
        .left {
            width: 172px;
            height: 31px;
            @include float($l);
            margin-top: 62px;
            vertical-align: middle;
            display: flex;
            justify-content: space-between;
        }
        //中文
        .zh {
            width: 80px;
            height: 31px;
            border-right: 1px solid #ccc;
            position: relative;
            h4 {
                width: 40px;
                height: 28px;
                line-height: 28px;
                @include font-weight($normal);
                font-size: $fontsize;
                justify-content: space-between;
                padding-left: 24px;
                .iconfont {
                    font-size: 12px;
                }
            }
            .en {
                width: 79px;
                height: 63px;
                border: 1px solid #000;
                position: absolute;
                left: 0;
                display: none;
                background: #fff;
                z-index: 10;
                h4 {
                    width: 79px;
                    display: flex;
                    justify-content: center;
                    @include font-weight($normal);
                    padding-left: 0;
                }
            }
        }
        //英文
        //人民币
        .rmb {
            width: 80px;
            height: 31px;
            h4 {
                width: 40px;
                height: 28px;
                line-height: 28px;
                @include font-weight($normal);
                padding-left: 9px;
                font-size: $fontsize;
                font-family: 'INTERVOGUE-REG' 'Microsoft YaHei';
            }
        }
    }
    //中间的logo
    img {
        display: inline-block;
        text-align: center;
        padding-top: 29px;
        position: absolute;
        left: 616px;
    }
    //右边
    .right {
        width: 156.56px;
        height: 28px;
        @include folat($r);
        margin-top: 62px;
        display: flex;
        justify-content: space-between;
        .registers {
            width: 63px;
            height: 28px;
            @include folat($r);
            line-height: 22px;
            border-right: 1px solid #ccc;
            a {
                width: 63px;
                height: 28px;
                line-height: 28px;
                @include text-decoration(none);
                @include color($black);
                font-size: 12px;
                padding-left: 13px;
            }
        }
        .register {
            width: 63px;
            height: 28px;
            @include folat($r);
            line-height: 22px;
            border-right: 1px solid #ccc;
            a {
                width: 63px;
                height: 28px;
                line-height: 28px;
                @include text-decoration(none);
                @include color($black);
                font-size: 12px;
                padding-left: 13px;
            }
        }
        .iconfont {
            height: 28px;
            line-height: 28px;
            font-size: 20px;
        }
    }
} //头部导航栏的
.nav_top {
    width: $window;
    height: 50px;
    background: #000;
    position: relative;
    .List {
        @include width($wid);
        margin: 0 auto;
        background: #000;
        color: #ffb81c;
        display: flex;
        justify-content: flex-start;
        @include list-style($n);
        position: relative;
        .bagli1 {
            @include list-style($n);
            width: 60px;
            height: 50px;
            line-height: 50px;
            font-size: $fontsize;
            padding: 0 7px;
            @include float($l);
            position: relative;
        }
        .search {
            position: absolute;
            right: 0;
            display: block;
            .icon-fangdajing {
                color: #ffb81c;
                position: absolute;
                top: 0px;
                right: 0;
            }
        }
        //搜索框
        .search_input {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            // display: none;
            .input {
                width: 197px;
                height: 40px;
                border: none;
                background: #000;
                border-bottom: 1px solid #fff;
            }
            .iconfont {
                color: #fff;
            }
        }
    }
    // 包袋
    .secondary_menu {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -74px;
        z-index: 10;
        display: none;
        .bagli1_1 {
            @include list-style($n);
            @include folat($l);
            width: 400px;
            height: 400px;
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .bagli1_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 150px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    // 腕表
    .wristwatch {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -148px;
        @include list-style($n);
        z-index: 10;
        display: none;
        .wristwatch_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .wristwatch_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    //珠宝首饰
    .jewelry {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -222px;
        @include list-style($n);
        z-index: 10;
        display: none;
        .jewelry_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .jewelry_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    //服饰
    .costume {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -296px;
        @include list-style($n);
        z-index: 10;
        display: none;
        .costume_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .costume_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    //鞋履
    .shoes {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -370px;
        @include list-style($n);
        z-index: 10;
        display: none;
        .shoes_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .shoes_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    //配饰
    .accessory {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -444px;
        @include list-style($n);
        z-index: 10;
        display: none;
        .accessory_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .accessory_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    //运动
    .exercise {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -518px;
        @include color($f);
        @include list-style($n);
        z-index: 10;
        display: none;
        .exercise_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .exercise_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    //家居
    .furniture {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -592px;
        @include list-style($n);
        z-index: 10;
        display: none;
        .furniture_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .furniture_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    //美妆
    .beauty {
        @include width($wid);
        height: 400px;
        background: #fff;
        position: absolute;
        left: -666px;
        @include list-style($n);
        z-index: 10;
        display: none;
        .beauty_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .beauty_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
    //生活方式
    .life_style {
        @include width($wid);
        height: 400px;
        position: absolute;
        left: -740px;
        background: #fff;
        @include list-style($n);
        z-index: 10;
        display: none;
        .life_style_1 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
        .life_style_2 {
            float: left;
            @include list-style($n);
            height: 400px;
            width: 600px;
            @include folat($l);
            h4 {
                @include color(#000);
                width: 400px;
            }
            p {
                width: 200px;
                height: 300px;
                @include folat($l);
                a {
                    width: 200px;
                    display: inline-block;
                    @include text-decoration(none);
                    @include color(#000);
                }
            }
        }
    }
}

//列表页渲染
.rendererlist {
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    // text-align: center;
    li {
        width: 238px;
        padding: 1px;
        float: left;
        border: none;
        height: 358px;
        position: relative;
    }
    li p {
        width: 200px;
        height: 48px;
        line-height: 24px;
        overflow: hidden;
        color: #000;
    }
    li img {
        width: 200px;
        height: 200px;
        display: block;
    }
    .img_p {
        height: 16px;
    }
    i {
        font-style: normal;
        color: red;
    }
    b {
        font-weight: 500px;
        color: #000;
    }
    li span {
        display: block;
        color: #000;
        text-align: left;
    }
    .price {
        text-align: left;
    }
}