* {
  margin: 0;
  padding: 0;
}

.heard {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heard .logo {
  width: 1200px;
  height: 130px;
  margin: 0 auto;
}

.heard .logo .left {
  width: 172px;
  height: 31px;
  float: left;
  margin-top: 62px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heard .logo .zh {
  width: 80px;
  height: 31px;
  border-right: 1px solid #ccc;
  position: relative;
}

.heard .logo .zh h4 {
  width: 40px;
  height: 28px;
  line-height: 28px;
  font-weight: normal;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
}

.heard .logo .zh h4 .iconfont {
  font-size: 12px;
}

.heard .logo .zh .en {
  width: 79px;
  height: 63px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  display: none;
  background: #fff;
  z-index: 10;
}

.heard .logo .zh .en h4 {
  width: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  padding-left: 0;
}

.heard .logo .rmb {
  width: 80px;
  height: 31px;
}

.heard .logo .rmb h4 {
  width: 40px;
  height: 28px;
  line-height: 28px;
  font-weight: normal;
  padding-left: 9px;
  font-size: 14px;
  font-family: 'INTERVOGUE-REG' 'Microsoft YaHei';
}

.heard img {
  display: inline-block;
  text-align: center;
  padding-top: 29px;
  position: absolute;
  left: 616px;
}

.heard .right {
  width: 156.56px;
  height: 28px;
  float: right;
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heard .right .registers {
  width: 63px;
  height: 28px;
  float: right;
  line-height: 22px;
  border-right: 1px solid #ccc;
}

.heard .right .registers a {
  width: 63px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding-left: 13px;
}

.heard .right .register {
  width: 63px;
  height: 28px;
  float: right;
  line-height: 22px;
  border-right: 1px solid #ccc;
}

.heard .right .register a {
  width: 63px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding-left: 13px;
}

.heard .right .iconfont {
  height: 28px;
  line-height: 28px;
  font-size: 20px;
}

.nav_top {
  width: 100%;
  height: 50px;
  background: #000;
  position: relative;
}

.nav_top .List {
  width: 1200px;
  margin: 0 auto;
  background: #000;
  color: #ffb81c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  position: relative;
}

.nav_top .List .bagli1 {
  list-style: none;
  width: 60px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  padding: 0 7px;
  float: left;
  position: relative;
}

.nav_top .List .search {
  position: absolute;
  right: 0;
  display: block;
}

.nav_top .List .search .icon-fangdajing {
  color: #ffb81c;
  position: absolute;
  top: 0px;
  right: 0;
}

.nav_top .List .search_input {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_top .List .search_input .input {
  width: 197px;
  height: 40px;
  border: none;
  background: #000;
  border-bottom: 1px solid #fff;
}

.nav_top .List .search_input .iconfont {
  color: #fff;
}

.nav_top .secondary_menu {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -74px;
  z-index: 10;
  display: none;
}

.nav_top .secondary_menu .bagli1_1 {
  list-style: none;
  float: left;
  width: 400px;
  height: 400px;
}

.nav_top .secondary_menu .bagli1_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .secondary_menu .bagli1_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .secondary_menu .bagli1_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .secondary_menu .bagli1_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .secondary_menu .bagli1_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .secondary_menu .bagli1_2 p {
  width: 150px;
  height: 300px;
  float: left;
}

.nav_top .secondary_menu .bagli1_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .wristwatch {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -148px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .wristwatch .wristwatch_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .wristwatch .wristwatch_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .wristwatch .wristwatch_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .wristwatch .wristwatch_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .wristwatch .wristwatch_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .wristwatch .wristwatch_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .wristwatch .wristwatch_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .wristwatch .wristwatch_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .jewelry {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -222px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .jewelry .jewelry_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .jewelry .jewelry_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .jewelry .jewelry_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .jewelry .jewelry_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .jewelry .jewelry_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .jewelry .jewelry_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .jewelry .jewelry_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .jewelry .jewelry_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .costume {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -296px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .costume .costume_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .costume .costume_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .costume .costume_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .costume .costume_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .costume .costume_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .costume .costume_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .costume .costume_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .costume .costume_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .shoes {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -370px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .shoes .shoes_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .shoes .shoes_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .shoes .shoes_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .shoes .shoes_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .shoes .shoes_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .shoes .shoes_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .shoes .shoes_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .shoes .shoes_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .accessory {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -444px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .accessory .accessory_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .accessory .accessory_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .accessory .accessory_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .accessory .accessory_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .accessory .accessory_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .accessory .accessory_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .accessory .accessory_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .accessory .accessory_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .exercise {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -518px;
  color: #fff;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .exercise .exercise_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .exercise .exercise_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .exercise .exercise_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .exercise .exercise_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .exercise .exercise_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .exercise .exercise_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .exercise .exercise_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .exercise .exercise_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .furniture {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -592px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .furniture .furniture_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .furniture .furniture_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .furniture .furniture_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .furniture .furniture_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .furniture .furniture_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .furniture .furniture_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .furniture .furniture_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .furniture .furniture_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .beauty {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -666px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .beauty .beauty_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .beauty .beauty_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .beauty .beauty_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .beauty .beauty_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .beauty .beauty_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .beauty .beauty_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .beauty .beauty_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .beauty .beauty_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .life_style {
  width: 1200px;
  height: 400px;
  position: absolute;
  left: -740px;
  background: #fff;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .life_style .life_style_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .life_style .life_style_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .life_style .life_style_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .life_style .life_style_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .life_style .life_style_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .life_style .life_style_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .life_style .life_style_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .life_style .life_style_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.contents {
  width: 1200px;
  height: 781.16px;
  margin: 0 auto;
  padding: 40px 50px 12px 40px;
}

.contents .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 483px;
  height: 402px;
  float: left;
  overflow: visible;
}

.contents .left .sf {
  width: 400px;
  height: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.contents .left .sf img {
  position: absolute;
}

.contents .left .sf .a {
  width: 200px;
  height: 200px;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #323232;
  opacity: 0.2;
}

.contents .left .bf {
  width: 400px;
  height: 400px;
  position: relative;
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contents .left .bf img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: none;
}

.contents .left .bf .picture_dada {
  position: absolute;
  width: 500px;
  height: 500px;
}

.contents .left .picture_xiao {
  width: 80px;
  height: 400px;
  float: left;
  border: 1px solid #ccc;
}

.contents .left .picture_xiao li {
  width: 80px;
  height: 80px;
  list-style: none;
}

.contents .left .picture_xiao li img {
  width: 100%;
  height: 80px;
}

.contents .left .picture_da {
  width: 400px;
  height: 400px;
  float: left;
  border: 1px solid #ccc;
  border-left: none;
  position: relative;
}

.contents .left .picture_da .magnifying_glass {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.contents .left .picture_da .faj_img {
  width: 400px;
  height: 400px;
  background: #000;
  display: none;
}

.contents .right {
  width: 597px;
  height: 705.16px;
  float: right;
}

.contents .right .h {
  width: 577px;
  height: 40px;
  font: normal 16px/24px "microsoft yahei";
  border-bottom: 1px dotted #323232;
  padding: 0 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.contents .right .price_message {
  width: 577px;
  height: 129.8px;
  padding: 15px 0 10px 20px;
  border-bottom: 1px dotted #323232;
}

.contents .right .price_message .price1 {
  width: 577px;
  height: 35.2px;
}

.contents .right .price_message .price1 p {
  width: 577px;
  height: 35.2px;
  color: #e93b39;
  font-size: 26px;
  letter-spacing: 10px;
}

.contents .right .price_message .supply {
  line-height: 40px;
  font-size: 12px;
  color: #ccc;
}

.contents .right .price_message .supply span {
  width: 60.84px;
  display: inline-block;
}

.contents .right .price_message .supply i {
  color: #e93b39;
  font-style: normal;
}

.contents .right .shopping_trolley {
  width: 573px;
  height: 332.96px;
  padding: 24px 0 0 24px;
}

.contents .right .shopping_trolley .color {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-family: simsun;
}

.contents .right .shopping_trolley .color span {
  width: 60.84px;
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
}

.contents .right .shopping_trolley .color img {
  width: 35px;
  height: 35px;
  vertical-align: baseline;
}

.contents .right .shopping_trolley .clearfix {
  width: 577px;
  height: 24px;
  font-size: 12px;
  font-family: simsun;
  margin-top: 30px;
}

.contents .right .shopping_trolley .clearfix span {
  width: 60.84px;
  height: 24.8px;
  line-height: 24.8px;
  text-align: center;
  display: inline-block;
  font-family: simsun;
  margin-bottom: 30px;
}

.contents .right .shopping_trolley .clearfix #num {
  width: 510.16px;
  float: right;
  margin-bottom: 30px;
}

.contents .right .shopping_trolley .clearfix #num .a_1,
.contents .right .shopping_trolley .clearfix #num .a_2 {
  width: 21px;
  height: 22px;
  display: inline-block;
  border: none;
  text-align: center;
}

.contents .right .shopping_trolley .clearfix #num .input1 {
  width: 34px;
  height: 18px;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
}

.contents .right .shopping_trolley .purchase {
  width: 577px;
  height: 54px;
  float: right;
}

.contents .right .shopping_trolley .purchase .purchase_1 {
  width: 160px;
  height: 54px;
  display: inline-block;
  line-height: 54px;
  text-align: center;
  background: #e93b39;
  font-size: 14px;
  color: #fff;
  border: 2px solid #e93b39;
  text-decoration: none;
}

.contents .right .shopping_trolley .purchase .purchase_2 {
  display: inline-block;
  width: 160px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border: 2px solid #e93b39;
  color: #e93b39;
  background: #fff;
  text-decoration: none;
}

.contents .right .shopping_trolley .purchase .goodsinfo {
  width: 100px;
  height: 54px;
  display: inline-block;
  line-height: 54px;
  text-decoration: none;
  border: 1px solid #e93b39;
  text-align: center;
  color: #e93b39;
}
