* {
  margin: 0px;
  padding: 0px;
}

.heard {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heard .logo {
  width: 1200px;
  height: 130px;
  margin: 0 auto;
}

.heard .logo .left {
  width: 172px;
  height: 31px;
  float: left;
  margin-top: 62px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heard .logo .zh {
  width: 80px;
  height: 31px;
  border-right: 1px solid #ccc;
  position: relative;
}

.heard .logo .zh h4 {
  width: 40px;
  height: 28px;
  line-height: 28px;
  font-weight: normal;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
}

.heard .logo .zh h4 .iconfont {
  font-size: 12px;
}

.heard .logo .zh .en {
  width: 79px;
  height: 63px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  display: none;
  background: #fff;
  z-index: 10;
}

.heard .logo .zh .en h4 {
  width: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  padding-left: 0;
}

.heard .logo .rmb {
  width: 80px;
  height: 31px;
}

.heard .logo .rmb h4 {
  width: 40px;
  height: 28px;
  line-height: 28px;
  font-weight: normal;
  padding-left: 9px;
  font-size: 14px;
  font-family: 'INTERVOGUE-REG' 'Microsoft YaHei';
}

.heard img {
  display: inline-block;
  text-align: center;
  padding-top: 29px;
  position: absolute;
  left: 616px;
}

.heard .right {
  width: 156.56px;
  height: 28px;
  float: right;
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heard .right .registers {
  width: 63px;
  height: 28px;
  float: right;
  line-height: 22px;
  border-right: 1px solid #ccc;
}

.heard .right .registers a {
  width: 63px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding-left: 13px;
}

.heard .right .register {
  width: 63px;
  height: 28px;
  float: right;
  line-height: 22px;
  border-right: 1px solid #ccc;
}

.heard .right .register a {
  width: 63px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding-left: 13px;
}

.heard .right .iconfont {
  height: 28px;
  line-height: 28px;
  font-size: 20px;
}

.nav_top {
  width: 100%;
  height: 50px;
  background: #000;
  position: relative;
}

.nav_top .List {
  width: 1200px;
  margin: 0 auto;
  background: #000;
  color: #ffb81c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  position: relative;
}

.nav_top .List .bagli1 {
  list-style: none;
  width: 60px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  padding: 0 7px;
  float: left;
  position: relative;
}

.nav_top .List .search {
  position: absolute;
  right: 0;
  display: block;
}

.nav_top .List .search .icon-fangdajing {
  color: #ffb81c;
  position: absolute;
  top: 0px;
  right: 0;
}

.nav_top .List .search_input {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_top .List .search_input .input {
  width: 197px;
  height: 40px;
  border: none;
  background: #000;
  border-bottom: 1px solid #fff;
}

.nav_top .List .search_input .iconfont {
  color: #fff;
}

.nav_top .secondary_menu {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -74px;
  z-index: 10;
  display: none;
}

.nav_top .secondary_menu .bagli1_1 {
  list-style: none;
  float: left;
  width: 400px;
  height: 400px;
}

.nav_top .secondary_menu .bagli1_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .secondary_menu .bagli1_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .secondary_menu .bagli1_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .secondary_menu .bagli1_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .secondary_menu .bagli1_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .secondary_menu .bagli1_2 p {
  width: 150px;
  height: 300px;
  float: left;
}

.nav_top .secondary_menu .bagli1_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .wristwatch {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -148px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .wristwatch .wristwatch_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .wristwatch .wristwatch_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .wristwatch .wristwatch_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .wristwatch .wristwatch_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .wristwatch .wristwatch_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .wristwatch .wristwatch_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .wristwatch .wristwatch_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .wristwatch .wristwatch_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .jewelry {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -222px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .jewelry .jewelry_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .jewelry .jewelry_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .jewelry .jewelry_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .jewelry .jewelry_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .jewelry .jewelry_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .jewelry .jewelry_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .jewelry .jewelry_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .jewelry .jewelry_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .costume {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -296px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .costume .costume_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .costume .costume_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .costume .costume_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .costume .costume_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .costume .costume_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .costume .costume_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .costume .costume_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .costume .costume_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .shoes {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -370px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .shoes .shoes_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .shoes .shoes_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .shoes .shoes_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .shoes .shoes_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .shoes .shoes_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .shoes .shoes_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .shoes .shoes_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .shoes .shoes_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .accessory {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -444px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .accessory .accessory_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .accessory .accessory_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .accessory .accessory_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .accessory .accessory_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .accessory .accessory_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .accessory .accessory_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .accessory .accessory_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .accessory .accessory_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .exercise {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -518px;
  color: #fff;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .exercise .exercise_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .exercise .exercise_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .exercise .exercise_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .exercise .exercise_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .exercise .exercise_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .exercise .exercise_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .exercise .exercise_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .exercise .exercise_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .furniture {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -592px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .furniture .furniture_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .furniture .furniture_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .furniture .furniture_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .furniture .furniture_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .furniture .furniture_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .furniture .furniture_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .furniture .furniture_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .furniture .furniture_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .beauty {
  width: 1200px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -666px;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .beauty .beauty_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .beauty .beauty_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .beauty .beauty_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .beauty .beauty_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .beauty .beauty_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .beauty .beauty_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .beauty .beauty_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .beauty .beauty_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .life_style {
  width: 1200px;
  height: 400px;
  position: absolute;
  left: -740px;
  background: #fff;
  list-style: none;
  z-index: 10;
  display: none;
}

.nav_top .life_style .life_style_1 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .life_style .life_style_1 h4 {
  color: #000;
  width: 400px;
}

.nav_top .life_style .life_style_1 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .life_style .life_style_1 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.nav_top .life_style .life_style_2 {
  float: left;
  list-style: none;
  height: 400px;
  width: 600px;
  float: left;
}

.nav_top .life_style .life_style_2 h4 {
  color: #000;
  width: 400px;
}

.nav_top .life_style .life_style_2 p {
  width: 200px;
  height: 300px;
  float: left;
}

.nav_top .life_style .life_style_2 p a {
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.publicity {
  width: 1200px;
  height: 980px;
  margin: 0 auto;
  padding-top: 20px;
}

.publicity #left {
  width: 530px;
  height: 900px;
  display: inline-block;
  position: relative;
}

.publicity #left img {
  width: 530px;
}

.publicity #left #bottom_img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.publicity #right_huan {
  width: 650px;
  height: 980px;
  float: right;
  position: relative;
}

.publicity #right_huan .bg_mask {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: -1;
}

.publicity #right_huan .right_img {
  z-index: 1;
  float: left;
}

.publicity #right_huan #video_play {
  padding-top: 20px;
  width: 650px;
  height: 550px;
}

.nav {
  width: 1200px;
  height: 565px;
  margin: 54px auto 42px;
}

.nav .logo_top {
  width: 100%;
  height: 38px;
  background: url(http://mpic.secooimg.com/images/2018/11/07/editor-pick.png) no-repeat center/266px 38px, url(http://mpic.secooimg.com/images/2018/11/07/title-line.png) no-repeat bottom;
  margin-bottom: 40px;
}

.nav .list {
  width: 1200px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.nav .list ul {
  position: absolute;
  left: 0;
  top: 0;
}

.nav .list li {
  width: 230px;
  height: 400px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.1);
  float: left;
  margin-right: 10px;
  top: 0;
}

.nav .list .top_img {
  width: 230px;
  height: 232px;
}

.nav .list .top_img img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.nav .list .li {
  padding: 34px 27px 0;
}

.nav .list .li .title {
  width: 176px;
  font-size: 14px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'CASLON224STD-BOOKITALIC';
}

.nav .list .li .wire {
  width: 50px;
  border: 1px solid #000;
  margin-bottom: 18px;
}

.nav .list .li p {
  color: #000;
}

.nav .logo_bottom {
  width: 1200px;
  height: 57px;
  margin-top: 30px;
  background: url(http://mpic.secooimg.com/images/2018/11/07/editor-pick-logo.png) no-repeat center/128px 57px, url(http://mpic.secooimg.com/images/2018/11/07/bottom-line.png) no-repeat 100%/100%;
}

.nav .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .arrows .icon-zuojiantou {
  font-size: 33px;
  font-weight: 900;
  margin-top: 8px;
  color: #fff;
}

.nav .arrows .icon-iconfontjiantou5 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.img {
  width: 1200px;
  height: 630px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.img .model {
  width: 950px;
  height: 630px;
  float: left;
}

.img .model img {
  z-index: -1;
}

.img .closet {
  width: 641px;
  height: 630px;
  position: absolute;
  top: 0;
  right: 0;
}

.img .closet img {
  z-index: 5;
}

.store_code {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.plate-entry_ncontainer_clearfix {
  width: 1200px;
  height: 640px;
  margin: 0 auto;
  margin-top: 40px;
}

.plate-entry_ncontainer_clearfix li {
  width: 380px;
  height: 600px;
  list-style: none;
  float: left;
  margin: 0 15px;
}

.plate-entry_ncontainer_clearfix .KOL {
  margin-left: 0;
}

.plate-entry_ncontainer_clearfix .paradise {
  margin-right: 0;
}

.secoo {
  width: 100%;
  height: 724px;
  background: #ffb81c;
}

.secoo .zh_temple {
  width: 1200px;
  height: 664px;
  margin: 0 auto;
  overflow: hidden;
}

.secoo .zh_temple h4 {
  margin-top: 51px;
  margin-bottom: 51px;
  width: 1200px;
  height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secoo .zh_temple ul {
  width: 1200px;
}

.secoo .zh_temple ul li {
  width: 380px;
  height: 504px;
  list-style: none;
  float: left;
  margin: 0 15px;
}

.secoo .zh_temple ul .global {
  margin-left: 0;
}

.secoo .zh_temple ul .we {
  margin-right: 0;
}

footer {
  width: 100%;
  height: 565px;
  background: #ffb81c;
}

footer .base {
  width: 1200px;
  height: 277.8px;
  margin: 0 auto;
  overflow: hidden;
}

footer .base .serveleft {
  width: 325px;
  float: left;
  list-style: none;
  height: 277.8px;
  margin-top: 20px;
}

footer .base .serveleft h4 {
  width: 325px;
  height: 20.8px;
  font-weight: normal;
}

footer .base .serveleft p {
  width: 325px;
  height: 19.2px;
  margin: 12px 0;
}

footer .base .serveleft p a {
  width: 159.5px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

footer .base .mediacenter {
  width: 550px;
  height: 277.8px;
  list-style: none;
  float: left;
  margin-top: 20px;
}

footer .base .mediacenter h4 {
  width: 550px;
  height: 20.8px;
  font-weight: normal;
  text-align: center;
}

footer .base .mediacenter .promotion {
  width: 550px;
  height: 240px;
  background: url(http://mpic.secooimg.com/images/2018/11/07/footer-logo.png) no-repeat 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .base .mediacenter .promotion span {
  margin: 0 106px;
}

footer .base .mediacenter .promotion .promotion_1 {
  position: absolute;
  left: -17px;
  top: 60px;
  display: inline-block;
  width: 126px;
  height: 120px;
  display: none;
}

footer .base .mediacenter .promotion .promotion_2 {
  position: absolute;
  right: 168px;
  top: 60px;
  display: inline-block;
  width: 126px;
  height: 120px;
  display: none;
}

footer .base .APPright {
  width: 78.84px;
  height: 145.8px;
  list-style: none;
  float: left;
  margin-top: 20px;
  margin: 0 0 0 207px;
}

footer .base .APPright h4 {
  font-weight: normal;
  margin: 0 0 18px 0;
}

footer .base .APPright p {
  margin: 0 0 10px 0;
}

footer .certificate {
  width: 1200px;
  height: 120.63px;
  margin: 0 auto;
  margin-top: 40px;
}

footer .certificate p {
  height: 21.43px;
  margin-top: 17.5px;
}

footer .certificate p a {
  height: 21.43px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 21.43px;
}

footer .certificate p a img {
  margin-top: 3px;
  vertical-align: top;
}

footer .certificate p span {
  font-size: 14px;
  padding-left: 25px;
}

footer .certificate p .public {
  width: 108px;
  height: 40px;
  display: inline-block;
  vertical-align: baseline;
}

footer .bottom_p {
  width: 100%;
  height: 20px;
  margin-top: 40px;
}

footer .bottom_p a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #939393;
}

.immobilization {
  width: 120px;
  height: 164px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
}
