* {
  margin: 0;
  padding: 0;
}

body,
html {
  background: #fdf8f4 url(https://safeimg.secoo.com/imagesNew/loginPic/login_03.jpg) no-repeat center top;
}

.head {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.8);
}

.head .header {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.head .header .left {
  float: left;
}

.head .header .right {
  width: 207.94px;
  height: 70px;
  float: right;
}

.head .header .right a {
  color: #666;
  height: 70px;
  line-height: 70px;
  text-decoration: none;
  font-size: 14px;
  padding: 0 5px;
}

.login_center {
  width: 1200px;
  height: 720px;
  margin: 0 auto;
  font-family: tahoma, arial, \5b8b\4f53, sans-serif;
  overflow: hidden;
}

.login_center #cipher {
  margin: 120px 0 0;
  padding: 35px 30px;
  width: 380px;
  height: 491.6px;
  background: #fff;
  float: right;
}

.login_center #cipher .password p {
  width: 100%;
  height: 40px;
}

.login_center #cipher .password p b {
  text-align: left;
  width: 60px;
}

.login_center #cipher .password p span {
  text-align: right;
  display: inline-block;
  height: 40px;
  color: #999;
  font-size: 14px;
  width: 240px;
}

.login_center #cipher .password input {
  width: 310px;
  height: 42px;
  border: 1px solid #dedede;
}

.login_center #cipher .password .checkbox1 {
  width: 15px;
  height: 15px;
  margin-top: 10px;
}

.login_center #cipher .password .input2 {
  width: 310px;
  height: 42px;
  display: inline-block;
  background: #f19108;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
}
